name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: 'l5a-character-creator/package-lock.json'
      
      - name: Install dependencies
        working-directory: ./l5a-character-creator
        run: npm ci
      
      - name: Build
        working-directory: ./l5a-character-creator
        run: npm run build -- --base-href /JDR-test/
      
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './l5a-character-creator/dist/l5a-character-creator/browser'

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
